<!DOCTYPE html>

<html>
<head>
	<base href="~/" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script src="/_content/WebVella.Blazor/WebVellaBlazor.js" autostart="false"></script>
</head>
<body>
	@RenderBody()


	<script src="_framework/blazor.server.js" autostart="false"></script>
	<script>
		(function start() {
			Blazor.start({
				logLevel: 1, // LogLevel.Debug
				configureSignalR: builder => builder.configureLogging("debug"), // LogLevel.Debug
				reconnectionOptions: {
                maxRetries: 99999999,
                retryIntervalMilliseconds: 1000,
            }
			});

		})()
	</script>
	<script>
function customDisplay() {
return {
show: () => { console.log('blazor show'); },
hide: () => { console.log('blazor hide'); },
failed: () => { console.log('blazor failed'); },
rejected: () => { console.log('blazor rejected'); window.location.reload();}
};
}

Blazor.defaultReconnectionHandler._reconnectionDisplay = customDisplay();

	</script>
</body>
</html>
